<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load staticfiles %}
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Web Application</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- needs images, font... therefore can not be part of ui.css -->
         
         
        
        <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css">
         <link href="{% static "css/bootstrap-theme.css" %}"rel="stylesheet" type="text/css">
         
         <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
          <script type="text/javascript" src="{% static "js/modernizr.custom.79639.js" %}"></script> 
          <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script> 
          <script type="text/javascript" src="{% static "js/script.js" %}"></script> 
          <script src="{% static "scripts/vendor.js" %}"></script>

        <script src="{% static "scripts/ui.js" %}"></script>



        <script src="{% static "scripts/app.js" %}"></script>
      
<script src= "{% static "js/bootstrap.min.js" %}"></script>




        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- needs images, font... therefore can not be part of ui.css -->
         
         
        <!-- end needs images -->



           


    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

         


 

<body>
<div class="row">
<div data-ng-app="app" id="app" data-custom-background="" data-off-canvas-nav="">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div data-ng-controller="AppCtrl">
            <div data-ng-hide="isSpecificPage()" data-ng-cloak="">
      <section id="header" class="top-header">
           
                <header class="clearfix ng-scope">
                    <!--

                     Logo 

                    -->
                    <div class="logo">
                        <a href="/problem">
                            <span class="ng-binding">

                                #include	

                            </span>
                        </a>
                    </div>
                    <!--

                     needs to be put after logo to make it working

                    -->
                    <div class="menu-button" toggle-off-canvas="">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </div>
        <div class="top-nav">
            <ul class="nav-left list-unstyled"></ul>
            <ul class="nav-right pull-right list-unstyled">
                <li class="dropdown langs text-normal ng-scope" data-ng-controller="LangCtrl"></li>
                <!--

                             <li class="dropdown">
                               …

                -->
                <li class="dropdown text-normal nav-profile open">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
                        <img class="img-circle img30_30" alt="" src="{% static "img/profile.jpg" %}"></img>
                        <span class="hidden-xs">
                            <span data-i18n="{{user}}">

                               {{profile.name}}

                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu with-arrow pull-right">
                        <li>
                            <a href="/profile">
                                <i class="fa fa-user"></i>
                                <span data-i18n="My Profile">

                                    My Profile

                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="submission.html">
                                <i class="fa fa-check"></i>
                                <span data-i18n="My Tasks">

                                    My Submissions

                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/lockscreen">
                                <i class="fa fa-lock"></i>
                                <span data-i18n="Lock">

                                    Lock

                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="/signin">
                                <i class="fa fa-sign-out"></i>
                                <span data-i18n="Log Out">

                                    Log Out

                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        

    </header>

</section>
</div>
</div>


<aside id="nav-container">
<div id="nav-wrapper">
    <ul id="nav"
        data-ng-controller="NavCtrl"
        data-collapse-nav
        data-slim-scroll
        data-highlight-active>
        <li><a href="/allproblems"> <i class="fa fa-question-circle"><span class="icon-bg bg-violet"></span></i><span data-i18n="Question"></span> </a></li>
       
            <li>
            <a href="/profile"><i class="fa fa-user"><span class="icon-bg bg-orange"></span></i><span data-i18n="Profile"></span></a>
            
        </li>
        <li>
            <a href="/leaderboard"><i class="fa fa-trophy"><span class="icon-bg bg-success"></span></i><span data-i18n="Leader Board"></span></a>
            
        </li>
         <li><a href="/submission"> <i class="fa fa-align-justify"><span class="icon-bg bg-danger"></span></i><span data-i18n="My Submission"></span></a></li>
        
        
        <li>
            <a href="/contactus">
                <i class="fa fa-phone"><span class="icon-bg bg-info"></span></i><span data-i18n="Contact"></span>
               
            </a>
        </li>
        <li>
            <a href="/rules"><i class="fa fa-book"><span class="icon-bg bg-warning"></span></i><span data-i18n="Rules"></span></a>
            
        </li>
               <li>
            <a href="/logout"><i class="fa fa-unlock"><span class="icon-bg bg-danger"></span></i><span data-i18n="Sign out"></span></a>
         
        </li>
                
                        </ul>
</div>

</aside>
</div>


{% block content %}
{% endblock %}





       



        
<script src="http://code.jquery.com/jquery-latest.js"></script>
<link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="{% static  "css/bower_components/font-awesome/css/font-awesome.min.css" %}">
<link rel="stylesheet" href="{% static "css/bower_components/weather-icons/css/weather-icons.min.css"%}">
<link rel="stylesheet" href="{% static "styles/main.css" %}">

</body>
</html>

