{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="view-container">

    <!--

     ngView:  

    -->
    <section id="content" class="animate-fade-up ng-scope" data-ng-view="">
        <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
        <div class="row">
        <div class="col-md-12">
    
               

                <h1><center><strong>Contact  US </strong></h1></center>

                
                
            
            
            <section class="main">
            
                <ul class="ch-grid">
                    <li>
                        <div class="ch-item">               
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-1"></div>
                                <div class="ch-info-back">
                                    <h3>Augustus Francis</h3>
                                    <p>augustusfrancis@gmail.com</br>9929893991</p>
                                    
                                </div>  
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-2"></div>
                                <div class="ch-info-back">
                                    <h3>Joe Mathai</h3>
                                    <p>joemathai16@gmail.com</br>9495988607</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="ch-item">
                            <div class="ch-info">
                                <div class="ch-info-front ch-img-3"></div>
                                <div class="ch-info-back">
                                    <h3>Rohith K D</h3>
                                    <p>kdrohith@gmail.com</br>9400619360</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
                
            </section>
</div>

</div>
</div>
</div>
</section>
</section>
</div>
</div>

 
 </div>
 </div>

</div>        


{% endblock %}






