{% load staticfiles %}
<!doctype html>
<title>Full Screen Mode</title>
<meta charset="utf-8"/>
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
        <link rel="stylesheet" href="{% static "styles/main.css" %}">
 <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">
<link rel="stylesheet" href="{% static "lib/codemirror.css" %}">
<link rel="stylesheet" href="{% static "addon/display/fullscreen.css" %}">
<link rel="stylesheet" href="{% static "addon/fold/foldgutter.css" %}">
<link rel="stylesheet" href="{% static "addon/dialog/dialog.css" %}">
<link rel="stylesheet" href="{% static "theme/ambiance.css" %}">
<link rel="stylesheet" href="{% static "theme/blackboard.css" %}">
<link rel="stylesheet" href="{% static "theme/cobalt.css" %}">
<link rel="stylesheet" href="{% static "theme/lesser-dark.css" %}">
<link rel="stylesheet" href="{% static "theme/mbo.css" %}">
<link rel="stylesheet" href="{% static "theme/mdn-like.css" %}">
<link rel="stylesheet" href="{% static "theme/midnight.css" %}">
<link rel="stylesheet" href="{% static "theme/monokai.css" %}">
<link rel="stylesheet" href="{% static "theme/neat.css" %}">
<link rel="stylesheet" href="{% static "theme/neo.css" %}">
<link rel="stylesheet" href="{% static "theme/night.css" %}">
<link rel="stylesheet" href="{% static "theme/paraiso-dark.css" %}">
<link rel="stylesheet" href="{% static "theme/pastel-on-dark.css" %}">
<link rel="stylesheet" href="{% static "theme/solarized.css" %}">
   <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script> 
          <script type="text/javascript" src="{% static "js/script.js" %}"></script> 

<body style="overflow-y:scroll;">
<div id="loadingpage" style="display:visible; position:absolute; left:0%; top:0%; z-index:100; background-color:white;  height:100%; width:100%;">
    <img src=" {% static "img/loader.gif" %}" style="position:relative;display:block;  top:35%; margin-left:auto; margin-right:auto;">
  </div>
<video autoplay loop poster="" id="bgvid">

<source src="{% static "video/include.webm" %}" type="video/webm">



</video>   

<center>
<p >Select a theme: <select onchange="selectTheme()" id="selectt">
    <option>default</option>
    <option>solarized dark</option>
    <option>solarized light</option>
    <option selected>monokai</option>
    <option>ambiance</option>
    <option>blackboard</option>
    <option>cobalt</option>
    <option>lesser-dark</option>
    <option>mbo</option>
    <option>mdn-like</option>
    <option>midnight</option>
    <option>neat</option>
    <option>neo</option>
    <option>night</option>
    <option>paraiso-dark</option>
    <option>pastel-on-dark</option>
</select>
</p>
</center>
<form method="post" action="/submit?id={{q.id}}">
	{% csrf_token %}
<center>
<p >Select a language: <select name="lang">
    <option value="C" {% if lang == "C" %}SELECTED{% endif %}>C</option>
    <option value="C++" {% if lang == "C++" %}SELECTED{% endif %}>C++</option>
</select>
</p>
</center>
<input id="chlang" name="chlang" type="hidden" value="{{lang}}">	
<div>
{% if not code %}
<textarea id="c-code" name='c-code'>
/* C demo code */
#include <stdio.h>
int main(){
	printf("hello world!");
  return 0;
}
</textarea></div>
{% else %}
<textarea id="c-code" name='c-code'>
{{code}}
</textarea></div>
{% endif %}
<center>
<input type="file" onchange="onFileSelected(event)">

</center>
<br>
<br>
<input type="submit" class="btn btn-success btn-lg pull-left" value="Go To Question Page">
<input type="hidden" id="qid" value="{{q.id}}">

</form>

<div >

<span style="padding-left:15%">
<button class="btn btn-success btn-lg pull-right"  onclick="downloadCode()">Download my code </button>
</span>
</div>
<br>
<script src="{% static "js/ajax.js" %}"></script>
<script src="{% static "lib/codemirror.js" %}"></script>
<script src="{% static "addon/search/searchcursor.js" %}"></script>
<script src="{% static "addon/search/search.js" %}"></script>
<script src="{% static "addon/dialog/dialog.js" %}"></script>
<script src="{% static "addon/edit/matchbrackets.js" %}"></script>
<script src="{% static "addon/edit/closebrackets.js" %}"></script>
<script src="{% static "addon/comment/comment.js" %}"></script>
<script src="{% static "addon/wrap/hardwrap.js" %}"></script>
<script src="{% static "addon/fold/foldcode.js" %}"></script>
<script src="{% static "addon/fold/brace-fold.js" %}"></script>
<script src="{% static "addon/display/fullscreen.js" %}"></script>
<script type="text/javascript" src="{% static "mode/clike/clike.js" %}"></script>
<script type="text/javascript" src="{% static "mode/python/python.js" %}"></script>
<script type="text/javascript" src="{% static "mode/javascript/javascript.js" %}"></script>
<script type="text/javascript" src="{% static "mode/go/go.js" %}"></script>
<script src="{% static "keymap/sublime.js" %}"></script>
<script type="text/javascript" src="{% static "js/editor.js" %}"></script>
 </body>

