{% load staticfiles %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>onlineJudge</title>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="header">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/home">Home</a></li>
         
        </ul>
        <h3 class="text-muted">Online Judge</h3>
      </div>
      <br/>
      <div class="jumbotron">
        <h1>Welcome!</h1>
       	<div class="container">

      	<form class="form-signin" role="form" action="/index/" method="post">{% csrf_token %}
        	<h2 class="form-signin-heading">Please sign in</h2>
        		<div class="col-lg-4">
        		<p>{% for error in errors %}{{error}} <br \>{% endfor %}</p>
        		<input type="text" class="form-control" placeholder="Username" name="username" required autofocus>
        		<input type="password" class="form-control" placeholder="Password" name="password" required>
        		</div>
        		
        	<div class="checkbox">
          	<label>
            	<input type="checkbox" value="remember-me"> Remember me
         	</label><br/>
        	</div>
       	 <button class="btn btn-lg btn-primary " type="submit" value="Submit">Sign in</button>
      	</form>
      	
      	<br/><br/><br/>
    	</div> <!-- /container -->
        <p><a class="btn btn-lg btn-success" href="/signup/" role="button">Sign up</a></p>
      </div>

      
      <div class="footer">
        <p>&copy; Excel 2014</p>
      </div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>