{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="view-container">
                <section data-ng-view="" id="content" class="animate-fade-up">
                <div class="page">
    <section class="panel panel-default noborder">
      
        <div class="panel-body ">
                     <h1> <centre>Leader Board </h1></centre>
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    
                        <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Score</th>
                        <th>Time of Last Correct Submission</th>
                        
                    </tr>
                </thead>
                <tbody>
                	{% for player in leaderboard %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                       <td>
                       {{player.name}}</td>
                        <td>{{player.score}}</td>
                        <td>{{player.lastsolution}}</td>
                    </tr> 
                    {% endfor %}
				</tbody>
               </table>
            </div>

        </div>
    </section>
      </div> 
</section>
</div>
</div>


{% endblock %}
