{% extends "base.html" %}

{% load staticfiles %}
{% block content %}
		<div class="container">
			<ul id="gn-menu" class="gn-menu-main">
				<li class="gn-trigger">
					<a class="gn-icon gn-icon-menu"><span>Menu</span></a>
					<nav class="gn-menu-wrapper">
						<div class="gn-scroller">
							<ul class="gn-menu">
								<li class="gn-search-item">
				<input placeholder="Search" type="search" class="gn-search">
					<a  class="gn-icon gn-icon-search"><span>Search</span></a>
				</li>
								<li><a href ="/allproblems" class="gn-icon gn-icon-infinity">Questions</a></li>
								<li><a href ="/leaders" class="gn-icon gn-icon-archive">Leaderboard</a></li>
								<li><a href ="/profile" class="gn-icon gn-icon-cog">Profile</a></li>
								
						</div><!-- /gn-scroller -->
					</nav>
				</li>
				<li><a href="/index" class="" href="#">Online Judge</a></li>
				

			</ul>
			<header>
			
			</header> 
		</div>
		<script src="{% static "js/classie.js"%}"></script>
		<script src="{% static "js/gnmenu.js"%}"></script>
		<script>
			new gnMenu( document.getElementById( 'gn-menu' ) );
		</script>
{% endblock %}