{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="view-container">

    <section id="content" class="animate-fade-up ng-scope" data-ng-view="">
        <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
 

  <div class="page page-profile noborder">

    <div class="row">
        <div class="col-md-5">

            <div class="panel panel-profile noborder">
                <div class="panel-heading bg-primary clearfix">
                    <a href="" class="pull-left profile">
                        <img alt="" src="{% static  "img/profile.jpg" %}" class="img-circle img80_80">
                    </a>
                    <h3>{{profile.name}}</h3>
                    <p>{{profile.college}}</p>
                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-box noborder">
                        <div class="panel-top bg-facebook">
                            <div class="divider divider"></div>
                            <i class="fa fa-facebook size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                   <a href="http://www.facebook.com/">
                                    <p class="text-muted">Post my score</p></a>
                                </li>
                                <li>
                                    <a href="http://www.facebook.com/">
                                    <p class="text-muted">Invite my friends</p></a>
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-box noborder">
                        <div class="panel-top bg-twitter">
                            <div class="divider divider"></div>
                            <i class="fa fa-twitter size-h1"></i>
                            <div class="divider divider"></div>
                        </div>
                        <div class="list-justified-container">
                            <ul class="list-justified text-center">
                                <li>
                                    
                                    <p class="text-muted">Tweet my score </p>
                                </li>
                                <li>
                                   
                                    <p class="text-muted">Tweet about the event</p>
                                </li>
                            </ul>
                        </div>
                    </section>                        
                </div>
            </div>
         </div> 
        <div class="col-md-5">

            <div class="row">
                <div class="col-sm-6">
                    <div class="panel mini-box noborder ">
                        <span class="box-icon bg-warning ">
                            <i class="fa fa-sun-o noline"></i>
                        </span>
                        <div class="box-info ">
                            <p class="size-h2">{{profile.problemsviewed}}</p>
                            <p class="text-muted">Questions seen</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box noborder ">
                        <span class="box-icon bg-info ">
                            <i class="fa fa-check noline"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{profile.totalsolutions}}</p>
                            <p class="text-muted">Correct Submissions</p>

                        </div>
                    </div>                    
                </div>
                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="panel mini-box noborder">
                        
                        <span class="box-icon bg-info ">
                            <i class="fa fa-graduation-cap noline"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{profile.totalscore}}</p>
                            <p class="text-muted">My Score</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="panel mini-box noborder">
                         <span class="box-icon bg-danger ">
                            <i class="fa fa-times noline"></i>
                        </span>
                        <div class="box-info">
                            <p class="size-h2">{{profile.wrongsolutions}}</p>
                            <p class="text-muted">Wrong submissions</p>
                        </div>
                    </div>
                </div>
            </div>
                      
</div>

</div>
</div>

</div>
{% endblock %}
