{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

<div class="view-container">

    <!--

     ngView:  

    -->
    <section id="content" class="animate-fade-up ng-scope" data-ng-view="">
        <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
        <div class="row">
        
        <div class="col-md-12">
    
        <div class="panel panel-default noborder">
                             <div class="panel-body">
                             <div class="questionheading">

                         <h2> {{problem0.name}} </h2>
                         </div>
                          <br>

                         {{problem0.desc}} 
                         <br>
                                           <p>
                        
                         <div class="wordspacing"> Participants:{{problem0.participants}}  Maxscore:{{problem0.score}}  Difficulty:{{problem0.difficulty}}</div> 
                      <button type="button" onclick="javascript:window.location='/submit?id={{problem0.id}}'" class="btn btn-success btn-lg pull-right" >Solve Challenge</button>

                               





              
</div>
</div> 
	{% for problem in problems %}
     <div class="row">

    <div class="col-md-12">
        <div class="panel panel-default noborder">
                             <div class="panel-body">
                             <div class="questionheading">
                         <h2> {{problem.name}} </h2>
                         </div>
                          <br>

                         {{problem.desc|truncatechars:16 }} 
                         <br>
                                           <p>
                        
                         <div class="wordspacing"> Participants:{{problem.participants}}  Maxscore:{{problem.score}}  Difficulty:{{problem.difficulty}} </div>
                                 <button type="button" onclick="javascript:window.location='/submit?id={{problem.id}}'" class="btn btn-success btn-lg pull-right" >
                                
                                Solve Challenge
</button> 
</div>
</div>
</div>
</div>
{% endfor %}
     
      
</div>
</div>
</div>
</div>


{% endblock %}
