{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div id="demo">
<div class="view-container ">

   
    <section id="content" class="animate-fade-up ng-scope" data-ng-view="">
        <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
        <div class="row">
        <div class="col-md-12 ">
    
 <div class="col-md-10">
             
    
        <div class="rulesheading">
               <h2> Rules And Regulations </h2>
               <check></check>
               </div>
               <div class="contentrules" style="font-weight:580;">
               <br>1. This is strictly an individual online event. <br>2. The duration of the event is 5 days (7200 minutes).<br>3. Registration is required for participation and there should be no duplicate accounts.
               <br>4. Codes should be in C. No other language will be accepted.
               <br>5. There will be a total of 30 questions. <br>6. Questions will be of three types and scoring pattern is as follows:
Easy - 5 points,<br > &nbsp;&nbsp;&nbsp;&nbsp;   Medium - 7 points, Hard - 10 points <br> 7.  The program submitted by the participant will be considered correct if it gives the <br> &nbsp;&nbsp;&nbsp;&nbsp; expected output for all the test cases.<br >
8.   Participants can compile and test the code before submitting. If it shows “All sample <br>&nbsp;&nbsp; &nbsp; test cases passed” during testing and still shows “Wrong Answer” after submission,<br>&nbsp;&nbsp;&nbsp; it is a presentation error. It <b>can be</b> avoided by properly formatting the output.<br>9. The ranking is done as follows:
<br>&nbsp;&nbsp;&nbsp;&nbsp;
   <span class="fa fa-circle-o"></span>  The one with the highest score is ranked first.<br> &nbsp;&nbsp;&nbsp;&nbsp;
   <span class="fa fa-circle-o"></span>
    In case if 2 or more persons have the same score, then they are ranked by whoever obtained the total points first  
   <br>10. A live points table will be maintained so that the participant can check his/her ranking. <br> 11. If any malicious activity like submitting the duplicate code is detected the user<br>&nbsp;&nbsp; &nbsp; account will be deleted without prior notice. <br> 12. Rules are subject to change at any point in time.








</p>
               </div>
               </div>
               </div>
               </div>

</div>
</div>
</div>
</div>

 {% endblock %}
