{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="view-container ">

   
    <section id="content" class="animate-fade-up ng-scope" data-ng-view="">
        <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
        <div class="row">
        <div class="col-md-12 ">
    
 <div class="col-md-10">
               <div class="panel panel-default noborder">

    
        <div class="rulesheading">
               <h2> Rules And Regulations </h2>
               </div>
               <div class="contentrules">
               This is purely an individual event
               <br>
               <br>Online Event<br>1.&nbsp; Submission of code sample text to be filled later <br>2.&nbsp;Lorem Ipseum.<br>3.&nbsp; Only students pursuing their graduation and post-graduation can participate.</p>
               </div>
               </div>
               </div>
               </div>

</div>
</div>
</div>
</div>
{% endblock %}
