<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>onlineJudge</title>
    	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <![endif]-->
  </head>

  <body>

    <div class="container">
      <div class="jumbotron">
        <h1>Welcome!</h1>
       	<div class="container">

      	<form class="form-signin" role="form" action="/signup/" method="post">{% csrf_token %}
        	<h2 class="form-signin-heading">Please enter your info</h2>
            <div class="col-lg-4">
        		<input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
            <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
           <!-- <input type="text" name="" class="form-control" placeholder="Semester" required autofocus> -->
            <input type="text" name="college" class="form-control" placeholder="College" required autofocus>
            <input type="text" name="username" class="form-control" placeholder="Screen name" required autofocus>
        		<input type="password" name="password" class="form-control" placeholder="Password" required>
            <br/>
            <button class="btn btn-lg btn-primary " type="submit">Sign Up</button>
            </div>
        <br/>
       	 
      	</form>
      	<br/>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>