{% load staticfiles %}
<!doctype html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>	Sign up</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
         <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}"/>
         
        <link rel="stylesheet" href="{% static "css/bower_components/font-awesome/css/font-awesome.min.css" %}">
       
        

            <link rel="stylesheet" href="{% static "styles/main.css" %}">
           <link rel="stylesheet" type="text/css" href="{% static "css/custom.css" %}">

   
            <link rel="stylesheet" type="text/css" href="{% static "css/preview.css" %}">
   
              <script type="text/javascript" src="{% static "js/jquery-1.11.1.min.js" %}"></script> 
          <script type="text/javascript" src="{% static "js/script.js" %}"></script> 


    </head>
    <body style="overflow-y:scroll;">
    <div id="loadingpage" style="display:visible; position:absolute; left:0%; top:0%; z-index:100; background-color:white;  height:100%; width:100%;">
    <img src="{% static "img/loader.gif" %}" style="position:relative;display:block;  top:35%; margin-left:auto; margin-right:auto;">
  </div>

<video autoplay loop poster="" id="bgvid">

<source src="{% static "video/include.webm" %}" type="video/webm">



</video>
  <div class="row">

        <div class="col-md-4">
     
                <a href="http://www.excelmec.org"> 
                    <img width="180px" src="{% static "img/excel.png" %}"></img>
                    </a>
                
            </div>
            <div class="col-md-4" style="padding-left:100px;">
           
             
                    <img width="300px" src="{% static "img/include.gif" %}"></img>
                   
                </div>
            
            <div class="col-md-4" style="padding-left:300px;" >

            
                
                <a href="http://www.mec.ac.in">
                    <img width="120px" src="{% static "img/model.png" %}"></img>
                    </a>
                </div>
            </div>


            
</div>
    <div class="eternity-form scroll-animations-activated">
<section id="demo2" class="colorBg2 colorBg" data-panel="second">

    <div class=" container">
        <br></br>
        <br></br>
        <!--

         #region Registration Form 

        -->
        <div class="registration-form-section">
            <form method="post" action="/signup">
                	
                <div class="section-title reg-header animated fadeInDown" data-animation="fadeInDown">
                    <h3>

                        Get your Account Here 

                    </h3>
                </div>
                
                <div class="clearfix">
                		{% csrf_token %}
                    <div class="col-sm-6 registration-left-section animated fadeInUp" data-animation="fadeInUp">
                        <div class="reg-content">
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                       <span class="glyphicon glyphicon-user"></span>
                                    </span>
                                    <input name="name" class="form-control " type="text" required="required" placeholder="FirstName"></input>
                                </div>
                            </div>
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon ">
                                        <i class="glyphicon glyphicon-book"></i>
                                    </span>
                                    <input name="college" class="form-control " type="text" required="required" placeholder="College"></input>
                                </div>
                            </div>
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon ">
                                       <i class="glyphicon glyphicon-envelope"></i>

                                    </span>
                                    <input name="email" class="form-control " type="email" required="required" placeholder="Email Id"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 registration-right-section animated fadeInUp" data-animation="fadeInUp">
                        <div class="reg-content">
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon ">
                                        <i class="glyphicon glyphicon-user"></i>
                                    </span>
                                    <input name="username" class="form-control " type="text" required="required" placeholder="UserName"></input>
                                </div>
                            </div>
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon ">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input name="password" class="form-control " type="password" required="required" placeholder="Password"></input>
                                </div>
                            </div>
                            <div class="textbox-wrap">
                                <div class="input-group">
                                    <span class="input-group-addon ">
                                        <i class="glyphicon glyphicon-lock"></i>
                                    </span>
                                    <input name="confirmpassword" class="form-control " type="password" required="required" placeholder="Confirm-Password"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="registration-form-action clearfix animated fadeInUp" data-animation-delay="2s" data-animation="fadeInUp" style="animation-delay: 2s;">
                    <a class="btn btn-success pull-left blue-btn " href="/signin">
                        <i class="glyphicon glyphicon-chevron-left"></i>

                           Back To Login  
                                                

                    </a>
                    <input class="btn btn-success pull-right green-btn " type="submit" value="Register Now">

                           

                    
                </div>
                
                <div class="login-form-links link2 animated fadeInRightBig" data-animation-delay="4s" data-animation="fadeInRightBig" style="animation-delay: 4s;">
                    <h4 class="green">

                      Sign-Up via FB

                    </h4>
                    <span>

                        <img src="{% static "img/fb.png" %}" alt="FB" height="42" width="42"> 

                    </span>
                    <a class="green" href="/signin">

                        Click Here

                    </a>
                    <span>

                        to signup by FB

                    </span>
                </div>

            </form>
        </div>
    </div>

</section>
    </div>
</div>

    </script>

    </body>
</html>