{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="view-container">

    <!--

     ngView:  

    -->
    <section id="content" class="animate-fade-up ng-scope" data-ng-view="">
        <div class="page page-dashboard ng-scope" data-ng-controller="DashboardCtrl">
        <div class="row">
        <div class="col-md-12">
    
 
<div class="challenge-view container">

    <div>
        <div class="challenge-header col-md-10">
            <header class="view_header boundB">
                
                <ul class="nav-tabs nav" style="padding-bottom: 1px;">
                    <li id="problemTab" class="active">
                        <a class="hr-problem-link" href="/challenges/solve-me-first">

                            Problem

                        </a>
                    </li>
                    <li id="submissionsTab" class="">
                        <a class="hr-submissions-link" href="/challenges/solve-me-first/submissions">

                            Submissions

                        </a>
                    </li>
                    <li id="leaderboardTab">
                        <a class="hr-leaderboard-link" href="/challenges/solve-me-first/leaderboard">

                            Leaderboard

                        </a>
                    </li>
                    
                </ul>
            </header>
        </div>

    <div class="col-md-10">
        <div class="panel panel-default noborder">
                             <div class="panel-body">


                      <h1 div class="question text-center">

                                  {{q.name}}
								  {{messages}}
								  {{message_compilation}}
                                </h1></div>
                          <br><div class="questiontext">
                              {{q.desc}}
                              <br /><br />
                              
                              <!-- <strong>Example<br /></strong> -->
                              <br />
                                




                              <h4><strong>Sample Input:</strong></h4>
                              <pre>{{q.input|linebreaksbr}}</pre>
                              <p>
                              <div class="text-left"><h4><strong>Sample Output:<br /></strong></h4></div>
                              <pre>{{q.output|linebreaksbr}}</pre>
    <br />                                      

                                   
                        
                         <div class="wordspacing"> Participants:{{q.participants}}  Maxscore:{{q.score}}  Difficulty:{{q.difficulty}} Timelimit:{{q.timelimit}}</div> 
                     
 	<br />                         
<form enctype="multipart/form-data" class="form-horizontal" action="/submit?id={{q.id}}" method="post">
	{% csrf_token %}
    <input id="uploadBtn" class="upload" type="file" name="file"></input>

 <div class="panel-body text-center">
 
  <input type="submit" value="Submit My Code" class="btn btn-w-md btn-gap-v btn-info pull-right" name="upload">

    </div>
 </form>
                               



</div>
 
  </div>            
</div>
 </div>   
 </div>

   
 <script type="text/javascript">

        // <![CDATA[
        document.getElementById("uploadBtn").onchange = function () {
    document.getElementById("uploadFile").value = this.value;
};

    </script>



</div>


{% endblock %}
